oauth redirection without http protocol

<!--
******************
Deprecation Notice
******************
The Spring Security OAuth project is deprecated. 
The latest OAuth 2.0 support is provided by Spring Security. 
See the OAuth 2.0 Migration Guide https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide
-->

<!--
For Security Vulnerabilities, please use https://pivotal.io/security#reporting
-->

### Summary

I am facing an issue with oauth2 redirection. 
when an app registers itself with redirection url without https protocol(such as www.google.com in place of https://www.google.com as redirect url) oauth redirects to a url which consists of oauth application host, port, context-path and given redirect url, while it should redirect to the given redirect url only.


### Actual Behavior
after authorization journey is completed, oauth server gives me the authorization code and state but it redirects to a url which consists of oauth2 host, port, context-path and given redirect url while it should redirect to only redirect url given.

### Expected Behavior

oauth server should redirect me to given redirect url only.



### Version

spring-security-oauth2 2.0.14

### Sample

1. make a authorization request to https://localhost:8091/oauth/authorize?grant_type=authorization_code&scope=xyz&state=1234567&redirect_uri=www.google.com&response_type=code

2. After successful authorization it redirects to https://localhost:8091/oauth/www.google.com?code=e4HI23pD1XFX4&state=1234567

PFA screenshots for more details.

case 1- when protocol is not given in redirection url.

(https://localhost:8091/oauth/authorize?grant_type=authorization_code&scope=xyz&state=1234567&redirect_uri=www.google.com&response_type=code)

![image](https://user-images.githubusercontent.com/43739968/83959951-94a07980-a8a0-11ea-88b1-d34a02e2865a.png)


case 2- when protocol is given in redirection url. 

https://localhost:8091/oauth/authorize?grant_type=authorization_code&scope=xyz&state=1234567&redirect_uri=https://www.google.com&response_type=code
(this is expected behavior)

![image](https://user-images.githubusercontent.com/43739968/83321951-6bb13080-a271-11ea-9e8f-7a45b00a5fcc.png)


@Shivam-Saraswat The `redirect_uri` must be an absolute URI, as defined in [spec](https://tools.ietf.org/html/rfc6749#section-3.1.2):

> The redirection endpoint URI MUST be an absolute URI as defined by
   [RFC3986] Section 4.3

It's not clear to me how you configured your application without a `scheme` part for `redrect_uri`. 

Please provide a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces the issue so I can understand your configuration.

@jgrandja Thanks for your reply. As defined in the spec, redirect URI should include the protocol.
My registration mechanism also forces the application to provide absolute uri. I just want to know that if the protocol is missing in the redirect_uri,  Should'nt Spring throw an error saying invalid redirect uri(even if it matches with the registered one as checked in `org.springframework.security.oauth2.provider.endpoint.DefaultRedirectResolver`) rather than redirecting it to any other uri?

@Shivam-Saraswat 

> I just want to know that if the protocol is missing in the redirect_uri, Should'nt Spring throw an error saying invalid redirect uri(even if it matches with the registered one as checked in org.springframework.security.oauth2.provider.endpoint.DefaultRedirectResolver) rather than redirecting it to any other uri?

Is an error not being thrown? It should be. Again, please provide a minimal sample as previously commented so I can see your configuration.

@jgrandja 

Sorry for the delay. I was having trouble to select the piece of the code to provide as minimal sample which would address the issue, as the code is too extensive.

However, I was able to reproduce the issue with default spring oauth configurations.

Here are the user details-

```
@Configuration
public class SecurityConfig extends WebSecurityConfigurerAdapter {
	@Override
	protected void configure(AuthenticationManagerBuilder auth) throws Exception {
		auth
		.inMemoryAuthentication()
		.withUser("user")
		.password("{noop}password")
		.roles("USER");
	}
}
```

and here the client details-

```
@Configuration
@EnableAuthorizationServer
public class AuthorizationServer extends AuthorizationServerConfigurerAdapter {
	@Override
	public void configure(ClientDetailsServiceConfigurer clients) throws Exception {
		clients
			.inMemory()
			.withClient("myclient")
			.secret("123456")
			.authorizedGrantTypes("authorization_code")
			.scopes("myscope")
			.redirectUris("www.google.com");
	}
}
```

as you can see, I have used `www.google.com` as redirect uri. 
Now when I go to `https://localhost:8081/oauth/authorize?client_id=myclient&response_type=code&scope=myscope` default login page appears.

After providing correct login credentials, default authorization page appears and after authorizing, it redirects me to `http://localhost:8081/oauth/www.google.com?code=YA22ax`(screenshot attached in the first comment) Thereby, exposing the host, port, context-path used etc and redirecting to a different uri which does not exists.

If I provide `https://www.google.com` as redirect uri, it looks good.

Please note that here I have setup the basic oauth server in local environment. But in production, we have developed complete oauth server with custom client details and many other custom configurations and It is deployed in one of the EC2 instance of AWS, which exposes the ip address of that instance, port and other information and also does not redirects to the mentioned redirect_uri.


@Shivam-Saraswat 

As far as I see it, the issue is with the registration process, as `redirectUris("www.google.com")` is not a valid **absolute URI**.

As per [spec](https://tools.ietf.org/html/rfc6749#section-3.1.2),

> The redirection endpoint URI MUST be an absolute URI...

I'm going to close this as this is a misconfiguration issue that needs to be addressed in the registration process.