redirect_uri has "/#/" redirect will go wrong.

The redirect address I set contains "/#/", the code parameter position is wrong when redirecting.

My redirect uri: http://localhost:8082/#/work-portal/index

Actual redirect uri: http://localhost:8082/?code=0EnqTg#/work-portal/index



@z960112559 The `redirect_uri` is not allowed a fragment component, as per [spec](https://tools.ietf.org/html/rfc6749#section-3.1.2):

> The redirection endpoint URI MUST be an absolute URI as defined by
   [RFC3986] Section 4.3.  The endpoint URI MAY include an
   "application/x-www-form-urlencoded" formatted (per Appendix B) query
   component ([RFC3986] Section 3.4), which MUST be retained when adding
   additional query parameters.  **The endpoint URI MUST NOT include a
   fragment component**.

FYI, the fragment component [is removed](https://github.com/spring-projects/spring-security-oauth/commit/97e0b4ab282acbed3588e05be03d5a0c4dbf3367#diff-dc68e148f359b171633cda89aed1ec3e5b0239427a0aa6448d439b2c2c4aadb7R226) when building the authorization response redirect.

Closing as this is expected behaviour.